[submodule "run_DNNTuples/DNNTuples"]
	path = run_DNNTuples/DNNTuples
	url = git@github.com:SohamBhattacharya/DNNTuples.git
[submodule "weaver-core"]
	path = weaver-core
	url = git@github.com:SohamBhattacharya/weaver-core.git
[submodule "Analysis/KLFitter"]
	path = Analysis/KLFitter
	url = git@github.com:SohamBhattacharya/KLFitter.git
